@import url(marx.min.css);

html,body{
    height: 100%;
    width: 100%;
    min-width: calc(640px * 1.8);
    min-height: calc(360px * 1.8);
    overflow: hidden;
    background: rgb(101,202,203);
}

#loading{
    display: none;
    width: calc(885px / 2);
    height: calc(313px / 2);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-65%);
    background: url("../image/logo.png");
    background-size: contain;
}

#loading> #loading\.value{
    background-color: red;
    width: 250px;
    height: 6px;
    position: absolute;
    bottom: 43px;
    left: 106px;
}

#loading\.options{
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
}

#loading\.options>button{
    padding: 30px;
}

#loading\.options\.self\.diagnosis{
    background: #FF8A80;
    margin-right: 10px;
}

#background{
    width: calc(640px * 1.8);
    height: calc(360px * 1.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#hideLogo{
    background: rgb(101,202,203);
    width: 210px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#splash{
    width: calc(640px * 1.8);
    height: calc(360px * 1.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#hideCenter{
    display: none;
    width: 350px;
    height: 120px;
    background: rgb(255,255,255);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#screen\.symptomsInput{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 780px;
    width: 420px;
    background-color: #fff;
    border-radius: 60%;
    display: none;
}

#screen\.symptomsInput\.scanning{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    background-color: rgba(255,0,0,0.3);
}

#health\.maid{
    background: url("../image/logo.png");
    width: calc(885px / 3);
    height: calc(313px / 3);
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

#screen\.symptomsInput\.list{
    position: absolute;
    top: 30px;
    left: 50px;
    max-height: 350px;
    overflow: hidden;
    background: rgba(33, 33, 33,0.7);
    color: #fff;
    padding: 16px;
    border-radius: 10px;
    width: 240px;
    display: none;
    z-index: 2;
}

#screen\.symptomsInput\.lists{
    overflow-y: auto;
    max-height: 200px;
}

#screen\.symptomsInput\.symptom{
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

#screen\.symptomsEntered{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

#screen\.symptomsEntered>div{
    background: #fff;
    width: auto;
    display: inline-block;
    padding: 14px;
    border-radius: 60%;
    margin: 20px;
    z-index: 1;
    position: absolute;
    border: 1px dotted black;
}

#screen\.symptomsEntered>button{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 160px;
    padding: 16px;
}

#screen\.result{
    padding: 10px;
    display: none;
    border-radius: 4%;
    width: 80%;
    height: 80%;
    background: rgba(255,255,255,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#screen\.result>#screen\.result\.chart{
    text-align: center;
    width: 680px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#screen\.result>#screen\.result\.chart>canvas{
    margin-bottom: 50px;
}

#screen\.result>#screen\.result\.chart>button{
    padding: 40px;
    margin-left: 20px;
}

#screen\.result>#screen\.result\.detail{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

#screen\.result>#screen\.result\.detail>iframe{
    width: 100%;
    height: 100%;
}